_release/
Temp/
DownloadedData/
Library/
.vs/
obj/
.fake/
*.sln
*.csproj
*.apk
*.stackdump
FR2_Cache.asset*
/remote_config_data
Build/iOS/*
!Build/iOS/Config
/ProjectSettings/AndroidResolverDependencies.xml
/Assets/Plugins/Android/Firebase/res/values/crashlytics_build_id.xml
/.idea/*
/release/*
/Logs/*
